<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ "/" | relative_url  }}assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="Blog: Thomas Schwärzl" href="{{ "/" | relative_url  }}feed.xml">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/highlight.css">
</head>
<body>

  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/main.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-598818-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-598818-8');
  </script>
  <script data-name="BMC-Widget" src="https://cdn.buymeacoffee.com/widget/1.0.0/prod/widget.prod.min.js" data-id="tschwaerzl" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can now buy me a coffee!" data-color="#FF813F" data-position="right" data-x_margin="18" data-y_margin="18"></script>
</body>
</html>



